<div class="container">
  <div class="row">

    <% @apps.each do |app| %>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1><%= link_to app[:title], app[:link_to]  %></h1>
          </div>
          <div class="panel-body">
            <%= app[:description] %>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>
