<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1>ApiSlug</h1>

      <p class="lead">I was inspired by TenderLoveMaking to create an api cache</p>
    </div>
    <div class="panel-body">

      <div class="row">
        <div class="col-lg-5">
          <blockquote class="twitter-tweet" lang="en">
            <p>I recently published an article titled &quot;Stop caching so much shit. Seriously.&quot; You can check it
              out
              here:
              <a href="http://t.co/ghNigYzUyw">http://t.co/ghNigYzUyw</a></p>&mdash; Aaron Patterson (@tenderlove)
            <a href="https://twitter.com/tenderlove/status/588172118845718529">April 15, 2015</a></blockquote>
        </div>
        <div class="col-lg-3">
          <h2>Which Leads To: --->></h2>
          </div>
        <div class="col-lg-4">
          <blockquote class="twitter-tweet" lang="en"><p>Stop caching so much shit. Seriously.</p>&mdash; Aaron
            Patterson (@tenderlove)
            <a href="https://twitter.com/tenderlove/status/588171747226161152">April 15, 2015</a></blockquote>
        </div>
      </div>


      <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

      <h2>Get Started?</h2>
      <hr/>
      get
      <code>http://junkdrawer.herokuapp.com/api_slug/blairanderson-repos?endpoint=https://api.github.com/users/blairanderson/repos</code>
      <hr/>

      <p>
        You should see my data, instead of hitting github, and killing the api, how about you utilize this cache that
        expires
        every <%= ApiCache::EXPIRES_IN %> hours?
      </p>

      <p>
        You can also authenticate, and change your cache expiration. Mostly api providers benefit from this.
      </p>

      <p>
        If things get out of hand, then we'll require all requests to be authenticated.
      </p>

      <h3>How Does it work?</h3>

      <code highlight="ruby">
<textarea cols="120" rows="30">

  def show
    @url = params[:endpoint] || "http://api.github.com/users/blairanderson/repos"
    render json ApiCache.get(params[:endpoint])
  end

  def secure
    if !params[:endpoint].present
      render json: {
          message: "We will let you pass us headers, and we'll pass them on. The headers are hashed and included in the caching strategy, since only you know the headers, this is fairly secure.",
          link: "http://junkdrawer.herokuapp.com/api_slug#secure"
        }
    else
      if !params[:headers]
        render json: {
            message: "This endpoint requires a headers array.",
            link: "http://junkdrawer.herokuapp.com/api_slug#secure"
          }
      else
        # take the headers and deal with them.
        # render json APICache.get(params[:endpoint])
        render json: {
            message: "This is not actually implemented! Please help me write the code!",
            link: "http://github.com/blairanderson/junkdrawer/tree/master/app/controllers/api_slug_controller.rb"
          }
      end
    end
  end
</textarea>
      </code>


    </div>
  </div>
</div>



