<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1>ApiSlug::ApiKey</h1>
    </div>
    <div class="panel-body">
      If you're authenticated, then your cached pages and stats would show up here:

      <% if !current_user %>

        <h1>Why Authenticate? We let you cache some api endpoints. So you don't have to think about it.</h1>

      <% else %>
          <% current_user.api_slugs.each do |api_slug| %>
          <% end %>
      <% end %>
    </div>
  </div>
</div>

